<body>
    <div class="alcoholNames">
        <div class="gin">   
        <a href="/coctail/gin ">Gin</a>
        </div>    
        <div class="vodka"> 
        <a href="/coctail/vodka ">Vodka</a>
        </div>
        <div class="rum"> 
        <a href="/coctail/rum ">Rum</a>
        </div>  
        <div class="scotch"> 
        <a href="/coctail/scotch ">Scotch</a>
        </div>
        <div class="frei"> 
        <a href="/Alkoholfrei">Alkoholfrei</a>
        </div>
        <div class="random"> 
        <a href="/random ">Zufall</a>
        </div>
    </div>
</body>