<footer>
<h1>Genuss hat viele Facetten..</h1>

<p>
    ..aber ohne das richtige Maß geht es nicht! 
    Cocktails kann man mit allen Sinnen genießen.<br> 
    Zum Cocktail-Genuss gehören neben dem Geschmack natürlich auch die Optik,<br>
    die Farbe und die verschiedenen Aromen, die im Zusammenspiel ganz neue Assoziationen<br>
    wecken und unterbewusst auch den Geschmack beeinflussen. 


</p>
</footer>