<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <title>Forty Coctails</title>
</head>
<header>
    <nav>
        <li>
            <a href="/">FORTY</a>
        </li>
        <li>
            <a href="/">MENU</a>
        </li>
    </nav>
    <img src="/assets/img/Cocktails & Getränke.png" alt="Logo" id="logo">
    <p>Herzlich Willkommen in der Welt der Cocktails und Getränke!
    </p>
    <form action="/search" method="post">
        <input type="text" placeholder="type something"name="search">
        <input type="submit" value="Search" class="btnSubmit">
    </form>
    <div class="arrows">
        <img src="/assets/img/Arrows.png" alt="arrows down" id="arrows">
    </div>
   

</header>
</html>