@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body,html{
    margin: 0;
    overflow-x:hidden;
    font-family: 'Open Sans', sans-serif;
    /* background-color:#262B46; */
    animation: 12s bgrandom infinite forwards;
    scroll-behavior: smooth;

}
nav,ul,li,a{
    display: inline;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
}
#logo{
    margin-top: 11vh;
    margin-left: 5vw;
}
.btnSubmit{ 
    width: 12%;
    background-color:#6FC3DF;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #fff; 
    margin-bottom: 10vh;
    border-radius: 6px;
}
.btnSubmit:hover{
    background-color:#E7B788;
    transition: all 3s ease;

}
input[type=text], textarea {
    width: 20%;
    padding: 10px;
    margin: 5px 0 22px 5vw;
    display: inline-block;
    border-radius: 6px;
    background: #f1f1f1;
  }
p{
    margin-left: 5vw;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #262B46;
    width: 100%;
    height: 50vh;
}
.alcoholNames{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}
.gin{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #6FC3DF;
}
.vodka{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #8D82C4;
}
.rum{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #EC8D81;
}
.scotch{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #E7B788;
}
.frei{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #8EA9E8;
}
.random{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background-color: #87C5A4;
}
footer{
    background: #262B46;
}
footer>h1{
    margin-top: 0;
    padding-left: 10vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    color: #FFFFFF;
}
footer>p{
    margin-bottom: 0;
    padding: 10vh;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: transform 12s ease-in-out;
    animation: 12s bgrandom infinite forwards;
}
.container{
    display: flex;
    transition: all 2s ease;
}
.container img{
    margin:5vw;
    width: 25vw;
}
.container img:hover{
    transition: transform 1s ease-out;
    transform: scale(1.2,1.2);
}
.coctailName {
    width: 15vw;
    word-break:normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coctailName h2{
    transform: rotate(-90deg);
    text-align: center;
    font-size: .7rem;
    color: #FFFFFF;
}
#myBtn:nth-of-type(2n+1){
    display:flex;
    flex-flow:row-reverse;

}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
.arrows:hover{
    transition: transform 3s ease-in-out ;
    transform: rotateY(-360deg);
}
body > main > div:nth-child(1n+0){
    background-color: #6FC3DF;
}
body > main > div:nth-child(2n+1){
    background-color: #8D82C4;
}
body > main > div:nth-child(3n+1){
    background-color: #EC8D81;
}
body > main > div:nth-child(4n+1){
    background-color: #E7B788;
}
body > main > div:nth-child(5n+1){
    background-color: #8EA9E8;
}
body > main > div:nth-child(6n+1){
    background-color: #87C5A4;
}
.coctailModal>p{
    font-size: .7rem;
}
.coctailModal>h3{
    font-size: 1rem;
}
.coctailModal>h2{
    color: #fff;
}
#myBtn > div > h2 > a{
    font-size: 1rem;
}
body > div > div.gin > a{
    padding-left: 5vw;
}
body > div > div.vodka > a{
    padding-left: 5vw;
}
body > div > div.rum > a{
    padding-left: 5vw;
}
body > div > div.scotch > a{
    padding-left: 5vw;
}
body > div > div.frei > a{
    padding-left: 5vw;
}
body > div > div.random > a{
    padding-left: 5vw;
}
#myBtn > div > h2 > a{
    width: 30vw;
}
@keyframes bgrandom {
    0% { background:#6FC3DF }
    100% { background:#EC8D81}

    }

    @media only screen and (max-width: 576px) {
        .alcoholNames{
            display: grid;
            grid-template-columns: 1fr;
        }
        main{
            display: grid;
            grid-template-columns: 1fr;
            transition: transform 12s ease-in-out; 
        }
        .container img{
            width: 50vw;
            }
        #logo{
            margin-top: 12vh;
            width: 50vw;
        }    
        .btnSubmit{ 
            width: 20%;
            background-color:#6FC3DF;
            padding: 10px;
            text-align: center;
            font-size: .5rem;
            color: #fff; 
            margin-bottom: 10vh;
            border-radius: 6px;
        }
        input[type=text], textarea {
            width: 60%;
          font-size: .5rem;
          }
          footer>h1{
              font-size: .8rem;
              margin-bottom: 2vh;
          }
          footer>p{
              margin-top: 0;
              padding-top: 0;
            font-size: .6rem;
        }
        header{
            height: 53vh;
        }
        .coctailModal>p{
            font-size: .5rem;
        }
        .coctailModal>h2{
            font-size: .6rem;
        }
        #myBtn > div > h2 > a{
            font-size: .7rem;        
        }
        
    }